/* Write the CSS for you answer here */
/** {*/
    /*border: 1px solid black;*/
/*}*/

.container {
    position: absolute;
    left: 600px;
    top: 250px;
}
#landscape {
    position: absolute;
    top: -100px;
}
#pohutukawa {
    position: absolute;
    top: 5px;
    z-index: 1;

    pointer-events: none; /*to restore it, set value to auto */
}

.baubles {
    position: absolute;
}

#blue {
    position: relative;
    left: 470px;
    top: 210px;
    z-index: 1;

    width: 50px;
    transition: width 1.5s ease;
}
#blue:hover {
    width: 80px;
}
#darkblue {
    position: absolute;
    left: 580px;
    top: 150px;
    z-index: 1;

    width: 50px;
    transition: width 1.5s ease;
}
#darkblue:hover {
    width: 80px;
}
#green {
    position: absolute;
    left: 160px;
    top: 200px;
    z-index: 1;

    width: 55px;
    transition: width 1s linear;
}
#green:hover {
    width: 120px;
}
#orange {
    position: absolute;
    left: 240px;
    top: 190px;

    width: 60px;
    transition: width 2.5s ease-in-out;
}
#orange:hover {
    width: 110px;
}
#pink {
    position: absolute;
    left: 380px;
    top: 170px;
    z-index: 1;

    width: 50px;
    transition: width 1.5s ease-out;
}
#pink:hover {
    width: 100px;
}
#red {
    position: absolute;
    left: 110px;
    top: 140px;
    z-index: 1;

    width: 40px;
    transition: width 2s ease-in;
}
#red:hover {
    width: 70px;
}

@keyframes bounce0 {
    0% {
        margin-top: 0px;
    }
    65% {
        margin-top: 100px;
    }
    75% {
        margin-top: 70px;
    }
    85% {
        margin-top: 85px;
    }
    95% {
        margin-top: 95px;
    }
    100% {
        margin-top: 100px;
    }

}
/*.baubles {
    animation-duration: 3s;
    animation-name: bounce;
    /*animation-iteration-count: infinite;*/

#blue {
    animation-duration: 4s;
    animation-name: bounce0;
}

@keyframes bounce1 {
    0% {
        margin-top: 0px;
    }
    65% {
        margin-top: 145px;
    }
    75% {
        margin-top: 115px;
    }
    85% {
        margin-top: 125px;
    }
    95% {
        margin-top: 135px;
    }
    100% {
        margin-top: 145px;
    }
}

#pink {
animation-duration: 4s;
animation-name: bounce1;
}

@keyframes bounce2 {
    0% {
        margin-top: 0px;
    }
    65% {
        margin-top: 155px;
    }
    75% {
        margin-top: 125px;
    }
    85% {
        margin-top: 145px;
    }
    95% {
        margin-top: 125px;
    }
    100% {
        margin-top: 155px;
    }
}

#darkblue {
    animation-duration: 4s;
    animation-name: bounce2;
}

@keyframes bounce3 {
    0% {
        margin-top: 0px;
    }
    65% {
        margin-top: 175px;
    }
    75% {
        margin-top: 135px;
    }
    85% {
        margin-top: 145px;
    }
    95% {
        margin-top: 160px;
    }
    100% {
        margin-top: 175px;
    }
}

#red {
    animation-duration: 4s;
    animation-name: bounce3;
}

@keyframes bounce4 {
    0% {
        margin-top: 0px;
    }
    65% {
        margin-top: 110px;
    }
    75% {
        margin-top: 75px;
    }
    85% {
        margin-top: 90px;
    }
    95% {
        margin-top: 100px;
    }
    100% {
        margin-top: 110px;
    }
}

#green {
    animation-duration: 4s;
    animation-name: bounce4;
}

@keyframes bounce5 {
    0% {
        margin-top: 0px;
    }
    65% {
        margin-top: 95px;
    }
    75% {
        margin-top: 65px;
    }
    85% {
        margin-top: 75px;
    }
    95% {
        margin-top: 85px;
    }
    100% {
        margin-top: 95px;
    }
}
#orange {
    animation-duration: 4s;
    animation-name: bounce5;
}
