/* Write the CSS for you answer here */
.container {
    position: absolute;
    left: 600px;
    top: 250px;
}
#landscape {
    position: absolute;
    top: -100px;
}
#pohutukawa {
    position: absolute;
    top 5px;
    z-index: 1;

    pointer-events: none; /*to restore it, set value to auto */
}
#blue {
    position: absolute;
    left: 400px;
    top: 260px;
    z-index: 1;

    width: 50px;
    transition: width 1.5s ease;
}
#blue:hover {
    width: 80px;
}
#darkblue {
    position: absolute;
    left: 500px;
    top: 150px;
    z-index: 1;

    width: 50px;
    transition: width 1.5s ease;
}
#darkblue:hover {
    width: 80px;
}
#green {
    position: absolute;
    left: 140px;
    top: 280px;
    z-index: 1;

    width: 60px;
    transition: width 1s linear;
}
#green:hover {
    width: 120px;
}
#orange {
    position: absolute;
    left: 240px;
    top: 190px;

    width: 75px;
    transition: width 2.5s ease-in-out;
}
#orange:hover {
    width: 125px;
}
#pink {
    position: absolute;
    left: 380px;
    top: 170px;
    z-index: 1;

    width: 50px;
    transition: width 1.5s ease-out;
}
#pink:hover {
    width: 100px;
}
#red {
    position: absolute;
    left: 120px;
    top: 140px;
    z-index: 1;

    width: 30px;
    transition: width 2s ease-in;
}
#red:hover {
    width: 70px;
}

