/* Write the CSS for you answer here */
.container {
    position: absolute;
    left: 600px;
    top: 250px;
}
#landscape {
    position: absolute;
    top: -100px;
}
#pohutukawa {
    position: absolute;
    top: 5px;
    z-index: 1;
}
#blue {
    position: absolute;
    left: 400px;
    top: 260px;
    z-index: 0;
}
#darkblue {
    position: absolute;
    left: 500px;
    top: 150px;
    z-index: 1;
}
#green {
    position: absolute;
    left: 180px;
    top: 280px;
    z-index: 1;
}
#orange {
    position: absolute;
    left: 240px;
    top: 190px;
}
#pink {
    position: absolute;
    left: 320px;
    top: 210px;
    z-index: 1;
}
#red {
    position: absolute;
    left: 120px;
    top: 140px;
    z-index: 1;
}


