/** {
    border: 1px solid black;
}*/

pre {
    color: purple;
    line-height: 1.5;
    font-size: 22pt;
    font-family: AlexBrush-Regular;
}
#title_author {
    color: purple;
    font-family: AlexBrush-Regular;
    font-size: 22pt;
    font-weight: bold;
}
@font-face {
    font-family: "AlexBrush-Regular";
    src: url('assets/alexBrush-Regular.ttf');
}
body {
    background-color: lavender;
    padding-top: 4%;
    padding-bottom: 4%;
    background-image: url("assets/corner-RB-pattern.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.content {
    background-color: white;
    width: 40%;
    margin: auto;
    border-radius: 20px 80px 20px 80px;
    box-shadow: 3px 6px 60px grey;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: url("assets/ytile-pattern.png");
    background-position: 8%;
    background-repeat: repeat-y;
}
#corner_LT {
    position: absolute;
    left: 0px;
    top: 0px;
}

@media screen{
    body{
        font-size: 1pt;
    }
}

